<!DOCTYPE html>
<html ng-app='inventory'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="dist/styles/main.min.css" type="text/css">
  </head>
  <body>

    <main>
      <ul
      ng-controller="shopKeeper as shop"
      class="shop">
        <li>
          <span
          ng-repeat="category in shop.header"
          ng-if="shop.show(category)"
          class='item {{category}}'>
            <p>
            {{category}}
            </p>
          </span>
        </li>
        <li ng-repeat="item in shop.inventory">
          <span
          ng-if="shop.show(type)"
          ng-repeat="(type, value) in item"
          class='item {{type}}'>
            <p ng-if="type !== 'price'">
              {{value}}
            </p>
            <p ng-if="type === 'price'">
              {{shop.tax(value - item.discount) | currency : shop.currency}}
              <img ng-if="item.discount"
                    src="./dist/images/sale-icon.png"></img>
            </p>
          </span>
        </li>
        <div class="shadow-mask"></div>
      </ul>
    </main>


<!--
!!!!!!!
SCRIPTS
!!!!!!!
-->
    <!-- <script src="dist/js/main.min.js"></script> -->
    <script src="src/js/jquery-3.1.1.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="src/js/handlebars-v4.0.5.js"></script>
    <script src="src/js/main.js"></script>
    <script src="src/js/utils.js"></script>
  </body>
</html>
