
* {
  box-sizing: border-box;
}

body {
  //font settings:
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1vw;

  main {
    width: 80%;
    margin: 40px auto;
  }

  button {
    background: whitesmoke;
    border: grey 1px solid;
    border-radius: 3px;
    //box shadow:
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    &:active {
      background: grey;
      color: lightgrey;
      -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
    }
  }

  h3 {
    font-weight: 100;
    font-size: 1.2vw;
  }

  input {
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
  }
}

.placeholder {
  text-align: center;
  text-transform: capitalize;
}

.menu {
  float: left;
  width: 8%;
  background: white;
  -webkit-box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
  box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px 5px;
  border-radius: 3px;

  h3 {
    border-bottom: 1px solid lightgrey;
  }

  .currency {
    width: 100%;
    font-size: 1.2vw;
  }

  .newItem {
    input {
      width: 100%;
      margin: 10px 0;
      font-size: 1.2vw;
      padding: 2px 4px;
      &::-webkit-input-placeholder {
        @extend .placeholder;
      }
      &:invalid.ng-touched {
        background: #ffb6b6;
        &::-webkit-input-placeholder {
          color: whitesmoke;
          @extend .placeholder;
        }

      }

    }
    .addNewItem {
      @extend button;
      border-radius: 7px;
    }
  }

}

.shadow-mask {
  //display properties:
  display: block;
  position: absolute;
  content: "";
  pointer-events: none;
  //size and position:
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 25px;
  //color and drop shadow:
  background: transparent;
  -webkit-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.5);
  box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.5);
}

ul.shop {
  //display properties:
  display: table;
  position: relative;
  list-style: none;
  //outside spacing:
  width: 100%;
  margin: 40px auto;
  border: lightgrey 1px solid;
  border-radius: 25px;
  //insdie spacing:
  padding-left: 0;
  //drop shadow:
  -webkit-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.2);
  box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.2);
  //line properties:
  li {
    display: table-row;
    //header:
    &:first-child {
      background: grey;
      color: whitesmoke;
      text-align: center;
      span.item {
        padding-left: 0;
        &:first-child {
          border-top-left-radius: 25px;
        }
        &:last-child {
          border-top-right-radius: 25px;
        }
      }
    }
    //every other line:
    &:nth-child(2n) {
      background: whitesmoke;
    }
    //cell properties:
    span.item {
      //display properties:
      display: table-cell;
      overflow: hidden;
      position: relative;
      //outside spacing:
      border-left: lightgrey 1px solid;
      //inside spacing:
      padding-left: 5px;
      //text properties:
      text-transform: capitalize;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:first-child {
        border-left: none;
      }
      //content formatting:
      p {
        margin: 0;
        padding: 1em 0;
        display: inline-block;

        img {
          height: 1em;
          transform: scale(2);
          transform-origin: left;
        }
      }
      input {
        transform: scale(1.5);
        transform-origin: right;
        border: none;
        border-radius: none;
        color: transparent;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: absolute;
        right: 5px;
        height: 100%;
        &:focus{
          outline: none;
          cursor: default;
        }
      }
    }
    //header properties
    span.header {
      &:hover {
        cursor: pointer;
      }
      &:active {
        background: black;
        color: white;
        user-select: none;
      }
    }
  }
  &:before {
    @extend .shadow-mask;
  }
}
