* {
  box-sizing: border-box;
}

.shop {
  font-size: 1vw;
  border-bottom: lightgrey 1px solid;
  border-right: lightgrey 1px solid;
  position: relative;
  -webkit-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.51);
  -moz-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.51);
  box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.51);
}

.shadow-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.51);
  -moz-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.51);
  box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.51);
}

li {
  display: table-row;
  &:first-child {
    background: grey;
    color: whitesmoke;
    text-align: center;
  }
  &:nth-child(2n) {
    background: whitesmoke;
  }
}

.shop {
  font-family: sans-serif;
  font-weight: 100;
  list-style: none;
  padding-left: 0;
  width: 80%;
  margin: 40px auto;
  display: table;

  span.item {
    text-transform: capitalize;
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: lightgrey 1px solid;
    padding-left: 5px;
    white-space: nowrap;
    p {
      margin: 0;
      padding: 1em 0;
      img {
        height: 1em;
        transform: scale(2);
        transform-origin: left;
      }
    }
  }
}
