
* {
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: 40px auto;
}

button {
  background: whitesmoke;
  border: grey 1px solid;
  border-radius: 3px;
  //font settings:
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1vw;
  //box shadow:
  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
  // transition: all linear 100ms;
  &:active {
    background: grey;
    color: lightgrey;
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
    // transition: all linear 100ms;
  }
}

.menu {
  float: left;
  width: 8%;
  background: white;
  -webkit-box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
  box-shadow: -1px 3px 4px 1px rgba(0,0,0,0.1);
  text-align: center;
  padding: 50px 0;
  border-radius: 3px;

  .currency {

  }
}

.shadow-mask {
  //display properties:
  position: absolute;
  //size and position:
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 25px;
  //color and drop shadow:
  background: transparent;
  -webkit-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.5);
  box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.5);
}

ul.shop {
  //display properties:
  display: table;
  position: relative;
  list-style: none;
  //outside spacing:
  width: 100%;
  margin: 40px auto;
  border: lightgrey 1px solid;
  border-radius: 25px;
  //insdie spacing:
  padding-left: 0;
  //drop shadow:
  -webkit-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.2);
  box-shadow: inset 0px 10px 181px -38px rgba(0,0,0,0.2);
  //line properties:
  li {
    display: table-row;
    //header:
    &:first-child {
      background: grey;
      color: whitesmoke;
      text-align: center;
      span.item {
        padding-left: 0;
        &:first-child {
          border-top-left-radius: 25px;
        }
        &:last-child {
          border-top-right-radius: 25px;
        }
      }
    }
    //every other line:
    &:nth-child(2n) {
      background: whitesmoke;
    }
    //cell properties:
    span.item {
      //display properties:
      display: table-cell;
      overflow: hidden;
      //outside spacing:
      border-left: lightgrey 1px solid;
      //inside spacing:
      padding-left: 5px;
      //text properties:
      text-transform: capitalize;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:first-child {
        border-left: none;
      }
      //content formatting:
      p {
        margin: 0;
        padding: 1em 0;

        img {
          height: 1em;
          transform: scale(2);
          transform-origin: left;
        }
      }
    }
  }
}
